@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@200;300;400&display=swap');

*{
    font-family: 'Chivo Mono', monospace;
}

.headerDiv{
    background-color: darkslateblue;
    color: white;
    font-size: 25px;
    text-align: center;
    padding: 1px;
}

.footerDiv{
    background-color: darkslateblue;
    color: white;
    padding: 1px 30px;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.indexDiv{
    display: flex;
    width: 100%;
    height: calc(100vh - 142px);
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.heading{
    font-size: 48px;
    margin-top: 0px;
}

.indexLink{
    margin: 15px;
    background-color: darkslateblue;
    color: white;
    padding: 10px;
    border-radius: 50px;
    text-decoration: none;
    font-size: 20px;
    border: 2px solid white;
    width: 200px;
}

.indexLink:hover{
    background-color: white;
    border: 2px solid black;
    color: black;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.label{
    font-size: 17px;
    width: 222px;
}

.input{
    width: 222px;
    margin-bottom: 15px;
    font-size: 17px;
}

.columDiv{
    display: flex;
    flex-direction: row;
}

.homeDiv{
    display: flex;
    width: 100%;
    min-height: calc(100vh - 142px);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 30px 0px;
}

.spaceBreak{
    border-style:dotted none none;
    border-color: darkslateblue;
    background-color:white;
    border-width: 10px;
    width: 25%;
    margin-top: 100px;
    margin-bottom: 110px;
}

@media (min-width:100px) and (max-width:500px) {
    .label{
        width: 150px;
    }
    
    .input{
        width: 150px;
    }
}
